# Parsing SQL Data

In [ ]:
!pip install langchain
!pip install openai

In [ ]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

In [ ]:
Server = ""
Database = ""
Driver = ""
Username = ""
Password = ""
db_conn = f"mssql://{Username}:{Password}@{Server}/{Database}?driver={Driver}"

db = SQLDatabase.from_uri(db_conn)
llm = OpenAI(temperature=0)

In [ ]:
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

In [ ]:
query = ""
db_chain.run(query)

# Analyzing Tabular Data - Approach1

In [ ]:
!pip install langchain
!pip install openai
!pip install chromadb
!pip install tiktoken

In [ ]:
from langchain.document_loaders import CSVLoader
from langchain.indexes import VectorstoreIndexCreator
from langchain.chains import RetrievalQA
from langchain.llms import OpenAI

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = ""

In [ ]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2023-04-23 07:37:22--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.007s

2023-04-23 07:37:23 (8.21 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [ ]:
loader = CSVLoader(file_path='titanic.csv')

In [ ]:
index_creator = VectorstoreIndexCreator()
doc_search = index_creator.from_loaders([loader])

WARNING:chromadb:Using embedded DuckDB without persistence: data will be transient

In [ ]:
chain =RetrievalQA.from_chain_type(llm=OpenAI(), chain_type="stuff", retriever=doc_search.vectorstore.as_retriever(), input_key = "question", verbose=True)

In [ ]:
query =  "impute average age for the missing values in the Age columnn and tell the new average age" #"how many rows and columns are present in this dataset"   #"run df.info() on the entire data and write your observations"
response = chain({"question":query})
print(response['result'])

> Entering new RetrievalQA chain...

> Finished chain.
 The average age for the missing values can be calculated by taking the average of the ages of the passengers that were given. The average age of the passengers provided is 27.5, so the imputed average age for the missing values in the Age column is 27.5.

# Analyzing Tabular Data - Approach2

In [ ]:
!pip install openai
!pip install langchain

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.27.4-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.3/70.3 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from openai) (4.65.0)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.9/dist-packages (from openai) (2.27.1)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 32.7 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.20->openai) (2.0.12)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (269 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 269.4/269.4 kB 26.6 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->openai) (23.1.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 11.2 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 kB 17.3 MB/s eta 0:00:00
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.4 yarl-1.9.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting langchain
  Downloading langchain-0.0.150-py3-none-any.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.4/648.4 kB 11.3 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.9/dist-packages (from langchain) (2.27.1)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.9/dist-packages (from langchain) (1.22.4)
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.9/dist-packages (from langchain) (6.0)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.9/dist-packages (from langchain) (3.8.4)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from langchain) (4.0.2)
Requirement already satisfied: tqdm>=4.48.0 in /usr/local/lib/python3.9/dist-packages (from langchain) (4.65.0)
Collecting openapi-schema-pydantic<2.0,>=1.2
  Downloading openapi_schema_pydantic-1.2.4-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.9/dist-packages (from langchain) (1.10.7)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.9/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.9/dist-packages (from langchain) (8.2.2)
Collecting dataclasses-json<0.6.0,>=0.5.7
  Downloading dataclasses_json-0.5.7-py3-none-any.whl (25 kB)
Requirement already satisfied: SQLAlchemy<3,>1.3 in /usr/local/lib/python3.9/dist-packages (from langchain) (2.0.10)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.12)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Collecting marshmallow<4.0.0,>=3.3.0
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 5.7 MB/s eta 0:00:00
Collecting typing-inspect>=0.4.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Collecting marshmallow-enum<2.0.0,>=1.5.1
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic<2,>=1->langchain) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2->langchain) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2->langchain) (1.26.15)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy<3,>1.3->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.9/dist-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, marshmallow, typing-inspect, openapi-schema-pydantic, marshmallow-enum, dataclasses-json, langchain
Successfully installed dataclasses-json-0.5.7 langchain-0.0.150 marshmallow-3.19.0 marshmallow-enum-1.5.1 mypy-extensions-1.0.0 openapi-schema-pydantic-1.2.4 typing-inspect-0.8.0

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = "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"

In [ ]:
from langchain.llms import OpenAI
from langchain.agents import create_pandas_dataframe_agent
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Name" : ["Alice", "Bob", "James", "James"],
    "Age" : [32, 25, 56, 23],
    "City" : ["New York", "Sydney", "Delhi", "New York"]
})

In [ ]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0, model_kwargs = {"model":'text-davinci-003'}), df, verbose=True)
# agent = create_pandas_dataframe_agent(OpenAI(temperature=0, model ='text-davinci-003'), df, verbose=True)

In [ ]:
agent.run("Give the list of names after sorting the age in ascending order")

"['James', 'Bob', 'Alice', 'James']"

In [ ]:
agent.run("Sort the information by age ascending order")

'The dataframe sorted by age in ascending order is:\n    Name  Age      City\n3  James   23  New York\n1    Bob   25    Sydney\n0  Alice   32  New York\n2  James   56     Delhi'

In [ ]:
agent.run("Who are the 2 people with the same name")

'James (age 56) and James (age 23)'

In [ ]:
agent.run("What does the data represent?")

> Entering new AgentExecutor chain...
Thought: I need to look at the data to understand what it represents
Action: python_repl_ast
Action Input: print(df.head())    Name  Age      City
0  Alice   32  New York
1    Bob   25    Sydney
2  James   56     Delhi
3  James   23  New York

Observation: None
Thought: I can see that the data represents the names, ages, and cities of four people
Final Answer: The data represents the names, ages, and cities of four people.

> Finished chain.

'The data represents the names, ages, and cities of four people.'

In [ ]:
agent.run("what is the age of james staying in New York?")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to find James in New York
Action: python_repl_ast
Action Input: df[(df['Name'] == 'James') & (df['City'] == 'New York')]['Age']
Observation: 3    23
Name: Age, dtype: int64
Thought: I now know the final answer
Final Answer: 23

> Finished chain.

'23'

In [ ]:
agent.run("how many rows and columns are present?")

> Entering new AgentExecutor chain...
Thought: I need to find out the shape of the dataframe
Action: python_repl_ast
Action Input: df.shape
Observation: (3, 3)
Thought: I now know the final answer
Final Answer: 3 rows and 3 columns

> Finished chain.

'3 rows and 3 columns'

# OR

In [ ]:
df = pd.read_excel('/content/sales_data_sample - new.xlsx')

In [ ]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0, model_kwargs = {"model":'text-davinci-003'}), df, verbose=True)
# agent = create_pandas_dataframe_agent(OpenAI(temperature=0, model ='text-davinci-003'), df, verbose=True)

In [ ]:
agent.run("what is the total sales when country is USA and productline is motorcycles for the year 2003")

'The total sales when country is USA and productline is motorcycles for the year 2003 is 178108.95.'

In [ ]:
agent.run("what is the total sales per quarter when country is USA and productline is motorcycles for the year 2003")

'The total sales per quarter when country is USA and productline is motorcycles for the year 2003 is 25783.76 for Q1, 59619.84 for Q3, and 92705.35 for Q4.'

In [ ]:
agent.run("Display the top 5 records when country is USA and productline is motorcycles for the year 2003")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include records with country USA and productline motorcycles for the year 2003
Action: python_repl_ast
Action Input: df[(df['COUNTRY'] == 'USA') & (df['PRODUCTLINE'] == 'Motorcycles') & (df['YEAR_ID'] == 2003)].head()
Observation:    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
8        10201               22      98.57                2  2168.54

             ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0       2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
3       8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  2003-10-10 00:00:00  Shipped       4        10     2003  ...          NaN
5      10/28/2003 0:00  Shipped       4        10     2003  ...          NaN
8  2003-01-12 00:00:00  Shipped       4        12     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown
5     Burlingame    CA      94217     USA       NaN          Hirano
8  San Francisco    CA        NaN     USA       NaN          Murphy

  CONTACTFIRSTNAME DEALSIZE DISCOUNT
0             Kwai    Small      5.0
3            Julie   Medium      6.0
4            Julie   Medium      9.0
5             Juri   Medium      6.0
8            Julie    Small     10.0

[5 rows x 26 columns]
Thought: I now know the final answer
Final Answer: The top 5 records when country is USA and productline is motorcycles for the year 2003 are shown above.

> Finished chain.

'The top 5 records when country is USA and productline is motorcycles for the year 2003 are shown above.'

In [ ]:
#Q18
agent.run("Retrieve a list of all orders where the sales amount is greater than $10,000 and Customer Name starts with mini. Use CONTACTNAME column.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to get the orders that meet the criteria.
Action: python_repl_ast
Action Input: df[(df['SALES'] > 10000) & (df['CONTACTNAME'].str.startswith('Mini'))]
Observation: 'CONTACTNAME'
Thought: I now know the final answer
Final Answer: df[(df['SALES'] > 10000) & (df['CONTACTNAME'].str.startswith('Mini'))]

> Finished chain.

"df[(df['SALES'] > 10000) & (df['CONTACTNAME'].str.startswith('Mini'))]"

In [ ]:
#Q17
agent.run("Display the average sales amount for each year.")

> Entering new AgentExecutor chain...
Thought: I need to group the data by year and calculate the average sales amount.
Action: python_repl_ast
Action Input: df.groupby('YEAR_ID')['SALES'].mean()
Observation: YEAR_ID
2003    3516.979540
2004    3512.388550
2005    3747.880146
Name: SALES, dtype: float64
Thought: I now know the average sales amount for each year.
Final Answer: The average sales amount for each year is 2003: 3516.98, 2004: 3512.39, 2005: 3747.88.

> Finished chain.

'The average sales amount for each year is 2003: 3516.98, 2004: 3512.39, 2005: 3747.88.'

In [ ]:
#Q16
agent.run("Show the total sales for the 3rd Quarter of year 2003 when product line is ships. Use YEAR_ID column to filter on year and QTR_ID column to filter on quarter")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe by year and quarter, then sum the sales
Action: python_repl_ast
Action Input: df[(df['YEAR_ID'] == 2003) & (df['QTR_ID'] == 3) & (df['PRODUCTLINE'] == 'Ships')]['SALES'].sum()
Observation: 46171.27
Thought: I now know the final answer
Final Answer: The total sales for the 3rd Quarter of year 2003 when product line is ships is 46171.27.

> Finished chain.

'The total sales for the 3rd Quarter of year 2003 when product line is ships is 46171.27.'

In [ ]:
#Q14
agent.run("Get the average sales amount for the customer 'Alpha Cognac' in the year 2005. Use CUSTOMERNAME column.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows with customer name 'Alpha Cognac' and year 2005.
Action: python_repl_ast
Action Input: df[(df['CUSTOMERNAME'] == 'Alpha Cognac') & (df['YEAR_ID'] == 2005)].mean()['SALES']
Observation: 3027.8239999999996
Thought:

<string>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.

 I now know the final answer
Final Answer: The average sales amount for the customer 'Alpha Cognac' in the year 2005 is 3027.824.

> Finished chain.

"The average sales amount for the customer 'Alpha Cognac' in the year 2005 is 3027.824."

In [ ]:
#Q13
agent.run("Show the total sales amount for each territory in the year 2003.")

> Entering new AgentExecutor chain...
Thought: I need to group the data by territory and year, and then sum the sales amount.
Action: python_repl_ast
Action Input: df.groupby(['TERRITORY', 'YEAR_ID'])['SALES'].sum()
Observation: TERRITORY  YEAR_ID
APAC       2003        253134.45
           2004        345307.83
           2005        147679.55
EMEA       2003       1660314.53
           2004       2389128.89
           2005        929828.99
Japan      2003        243773.18
           2004        168479.10
           2005         42920.94
Name: SALES, dtype: float64
Thought: I now know the total sales amount for each territory in the year 2003.
Final Answer: APAC: 253134.45, EMEA: 1660314.53, Japan: 243773.18

> Finished chain.

'APAC: 253134.45, EMEA: 1660314.53, Japan: 243773.18'

In [ ]:
df.groupby(['TERRITORY', 'YEAR_ID'])['SALES'].sum()

TERRITORY  YEAR_ID
APAC       2003        253134.45
           2004        345307.83
           2005        147679.55
EMEA       2003       1660314.53
           2004       2389128.89
           2005        929828.99
Japan      2003        243773.18
           2004        168479.10
           2005         42920.94
Name: SALES, dtype: float64

In [ ]:
df['TERRITORY'].value_counts()

EMEA     1407
APAC      221
Japan     121
Name: TERRITORY, dtype: int64

In [ ]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,DISCOUNT
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,5.0
1,10121,34,81.35,5,2765.90,2003-07-05 00:00:00,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,4.0
2,10134,41,94.74,2,3884.34,2003-01-07 00:00:00,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,1.0
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,6.0
4,10159,49,100.00,14,5205.27,2003-10-10 00:00:00,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,9.0

In [ ]:
#Q12 - A
agent.run("Display the average sales amount of each month of the year 2004 when product is Motorcycles.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include 2004 and Motorcycles, then calculate the average sales amount for each month.
Action: python_repl_ast
Action Input: df[(df['YEAR_ID'] == 2004) & (df['PRODUCTLINE'] == 'Motorcycles')].groupby('MONTH_ID')['SALES'].mean()
Observation: MONTH_ID
1     3169.270769
2     3774.346154
4     2789.928462
5     3603.765385
6     3633.646923
7     3253.428571
8     3300.259474
9     3267.003846
10    3031.843077
11    3890.047692
12    2605.872500
Name: SALES, dtype: float64
Thought: I now know the average sales amount of each month of the year 2004 when product is Motorcycles.
Final Answer: The average sales amount of each month of the year 2004 when product is Motorcycles is 3169.270769 for January, 3774.346154 for February, 2789.928462 for April, 3603.765385 for May, 3633.646923 for June, 3253.428571 for July, 3300.259474 for August, 3267.003846 for September, 3031.843077 for October, 3890.047692 for November, and 2605.872500 for December.

> Finished chain.

'The average sales amount of each month of the year 2004 when product is Motorcycles is 3169.270769 for January, 3774.346154 for February, 2789.928462 for April, 3603.765385 for May, 3633.646923 for June, 3253.428571 for July, 3300.259474 for August, 3267.003846 for September, 3031.843077 for October, 3890.047692 for November, and 2605.872500 for December.'

In [ ]:
#Q12 - B
agent.run("Display the average sales amount of each quarter of the year 2004 when product is Motorcycles.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include 2004 and Motorcycles, then calculate the average sales amount for each quarter.
Action: python_repl_ast
Action Input: df[(df['YEAR_ID'] == 2004) & (df['PRODUCTLINE'] == 'Motorcycles')].groupby('QTR_ID')['SALES'].mean()
Observation: QTR_ID
1    3471.808462
2    3342.446923
3    3280.768718
4    3532.880000
Name: SALES, dtype: float64
Thought: I now know the average sales amount of each quarter of the year 2004 when product is Motorcycles.
Final Answer: The average sales amount of each quarter of the year 2004 when product is Motorcycles is 3471.81, 3342.45, 3280.77, and 3532.88 respectively.

> Finished chain.

'The average sales amount of each quarter of the year 2004 when product is Motorcycles is 3471.81, 3342.45, 3280.77, and 3532.88 respectively.'

In [ ]:
#Q11
agent.run("Show the total sales for each quarter of the year 2005")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows from 2005
Action: python_repl_ast
Action Input: df[df['YEAR_ID'] == 2005]
Observation:       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
22          10375               21      34.91               12   733.11
23          10388               42      76.36                4  3207.12
24          10403               24     100.00                7  2434.56
25          10417               66     100.00                2  7516.08
49          10369               41     100.00                2  4514.92
...           ...              ...        ...              ...      ...
2796        10415               42      57.61                3  2419.62
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

                ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
22    2005-03-02 00:00:00   Shipped       1         2     2005  ...
23    2005-03-03 00:00:00   Shipped       1         3     2005  ...
24    2005-08-04 00:00:00   Shipped       2         4     2005  ...
25         5/13/2005 0:00  Disputed       2         5     2005  ...
49         1/20/2005 0:00   Shipped       1         1     2005  ...
...                   ...       ...     ...       ...      ...  ...
2796  2005-09-05 00:00:00  Disputed       2         5     2005  ...
2819       1/31/2005 0:00   Shipped       1         1     2005  ...
2820  2005-01-03 00:00:00  Resolved       1         3     2005  ...
2821       3/28/2005 0:00   Shipped       1         3     2005  ...
2822  2005-06-05 00:00:00   On Hold       2         5     2005  ...

     ADDRESSLINE2          CITY     STATE POSTALCODE    COUNTRY TERRITORY  \
22            NaN        Nantes       NaN      44000     France      EMEA
23            NaN   New Bedford        MA      50553        USA       NaN
24            NaN     Liverpool       NaN    WX1 6LT         UK      EMEA
25            NaN        Madrid       NaN      28034      Spain      EMEA
49            NaN    Brickhaven        MA      58339        USA       NaN
...           ...           ...       ...        ...        ...       ...
2796          NaN  Glen Waverly  Victoria       3150  Australia      APAC
2819          NaN          Oulu       NaN      90110    Finland      EMEA
2820          NaN        Madrid       NaN      28034      Spain      EMEA
2821          NaN      Toulouse       NaN      31000     France      EMEA
2822          NaN        Boston        MA      51003        USA       NaN

     CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE DISCOUNT
22           Labrune           Janine    Small      4.0
23           Benitez          Violeta   Medium      3.0
24             Devon        Elizabeth    Small      7.0
25            Freyre            Diego    Large      NaN
49            Nelson            Allen   Medium     10.0
...              ...              ...      ...      ...
2796         Connery             Sean    Small      NaN
2819       Koskitalo           Pirkko   Medium      1.0
2820          Freyre            Diego   Medium      NaN
2821          Roulet          Annette    Small      1.0
2822         Yoshido             Juri   Medium      NaN

[478 rows x 26 columns]
Thought: I need to group the data by quarter and sum the sales
Action: python_repl_ast
Action Input: df[df['YEAR_ID'] == 2005].groupby('QTR_ID')['SALES'].sum()
Observation: QTR_ID
1    1071992.36
2     719494.35
Name: SALES, dtype: float64
Thought: I now know the final answer
Final Answer: The total sales for each quarter of the year 2005 are Q1: $1,071,992.36 and Q2: $719,494.35.

> Finished chain.

'The total sales for each quarter of the year 2005 are Q1: $1,071,992.36 and Q2: $719,494.35.'

In [ ]:
#Q7
agent.run("what is the Average Sales when the territory is 'EMEA' and the discount >= 10.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows with the territory 'EMEA' and discount >= 10.
Action: python_repl_ast
Action Input: df[(df['TERRITORY'] == 'EMEA') & (df['DISCOUNT'] >= 10)].mean()['SALES']
Observation: 3396.536788321168
Thought:

<string>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.

 I now know the final answer
Final Answer: The average sales when the territory is 'EMEA' and the discount is greater than or equal to 10 is 3396.54.

> Finished chain.

"The average sales when the territory is 'EMEA' and the discount is greater than or equal to 10 is 3396.54."

In [ ]:
#Q2
agent.run("Show only customer names from state 'CA' who ordered products in the year 2003 and sort the results by sales amount, with the highest sales at the top. Use CUSTOMERNAME column")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include customers from CA who ordered in 2003, then sort by sales
Action: python_repl_ast
Action Input: df[(df['STATE'] == 'CA') & (df['YEAR_ID'] == 2003)].sort_values(by='SALES', ascending=False)['CUSTOMERNAME']
Observation: 319     Mini Gifts Distributors Ltd.
243                Toys4GrownUps.com
165         Corporate Gift Ideas Co.
88                   Mini Wheels Co.
189     Mini Gifts Distributors Ltd.
                    ...
2200               Toys4GrownUps.com
2027        Signal Collectibles Ltd.
1543        Corporate Gift Ideas Co.
2030    Mini Gifts Distributors Ltd.
1794    Mini Gifts Distributors Ltd.
Name: CUSTOMERNAME, Length: 163, dtype: object
Thought: I now know the final answer
Final Answer: Mini Gifts Distributors Ltd., Toys4GrownUps.com, Corporate Gift Ideas Co., Mini Wheels Co., Signal Collectibles Ltd.

> Finished chain.

'Mini Gifts Distributors Ltd., Toys4GrownUps.com, Corporate Gift Ideas Co., Mini Wheels Co., Signal Collectibles Ltd.'

In [ ]:
#Q1
agent.run("For the product code starting with 'S18_', retrieve the total sales amount when quantity ordered >= 50.")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows with product code starting with 'S18_' and quantity ordered >= 50.
Action: python_repl_ast
Action Input: df[(df['PRODUCTCODE'].str.startswith('S18_')) & (df['QUANTITYORDERED'] >= 50)].SALES.sum()
Observation: 272902.59
Thought: I now know the final answer
Final Answer: The total sales amount for product code starting with 'S18_' when quantity ordered is greater than or equal to 50 is 272902.59.

> Finished chain.

"The total sales amount for product code starting with 'S18_' when quantity ordered is greater than or equal to 50 is 272902.59."

# Passing Custom Data

In [ ]:
!pip install langchain
!pip install openai
!pip install PyPDF2
!pip install faiss-cpu
!pip install tiktoken

In [ ]:
from PyPDF2 import PdfReader
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.text_splitter import CharacterTextSplitter
from langchain.vectorstores import ElasticVectorSearch, Pinecone, Weaviate, FAISS

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = ""

In [ ]:
reader = PdfReader("/content/2304.09697.pdf")

In [ ]:
raw_text = ""
for i, page in enumerate(reader.pages):
  text = page.extract_text()
  if text:
    raw_text += text

In [ ]:
raw_text[:500]

'arXiv:2304.09697v1  [cs.PL]  19 Apr 2023A CALCULUS FOR SCOPED EFFECTS & HANDLERS\nROGER BOSMANa, BIRTHE VAN DEN BERGa, WENHAO TANGb,\nAND TOM SCHRIJVERSa\naKU Leuven, Celestijnenlaan 200A\ne-mail address :{roger.bosman/birthe.vandenberg/tom.schrijvers }@kuleuven.be\nbThe University of Edinburgh, 10 Crichton Street\ne-mail address : wenhao.tang@ed.ac.uk\nAbstract. Algebraic eﬀects & handlers have become a standard approach for side-eﬀects\nin functional programming. Their modular composition with other e'

In [ ]:
text_splitter = CharacterTextSplitter(
    separator = "\n",
    chunk_size = 1000,
    chunk_overlap = 200,
    length_function = len,
)

texts = text_splitter.split_text(raw_text)

In [ ]:
len(texts)

213

In [ ]:
texts[0]

'arXiv:2304.09697v1  [cs.PL]  19 Apr 2023A CALCULUS FOR SCOPED EFFECTS & HANDLERS\nROGER BOSMANa, BIRTHE VAN DEN BERGa, WENHAO TANGb,\nAND TOM SCHRIJVERSa\naKU Leuven, Celestijnenlaan 200A\ne-mail address :{roger.bosman/birthe.vandenberg/tom.schrijvers }@kuleuven.be\nbThe University of Edinburgh, 10 Crichton Street\ne-mail address : wenhao.tang@ed.ac.uk\nAbstract. Algebraic eﬀects & handlers have become a standard approach for side-eﬀects\nin functional programming. Their modular composition with other eﬀects and clean sepa-\nration of syntax and semantics make them attractive to a wide audience. However, not all\neﬀects can be classiﬁed as algebraic; some need a more sophis ticated handling. In partic-\nular, eﬀects that have or create a delimited scope need speci al care, as their continuation\nconsists of two parts—in and out of the scope—and their modul ar composition introduces\nadditional complexity. These eﬀects are called scopedand have gained attention by their'

In [ ]:
embeddings = OpenAIEmbeddings()

In [ ]:
docsearch = FAISS.from_texts(texts, embeddings)

In [ ]:
docsearch

In [ ]:
from langchain.chains.question_answering import load_qa_chain
from langchain.llms import OpenAI

In [ ]:
chain = load_qa_chain(OpenAI(), chain_type = "stuff")

In [ ]:
query = "explain calculus" #"give a summary of the paper"
docs = docsearch.similarity_search(query)
chain.run(input_documents = docs, question=query)

' Calculus is a branch of mathematics that is used to study the behavior of functions through the use of limits, derivatives, integrals, and other mathematical tools. It is used in many areas of science and engineering, such as physics, engineering, economics, and finance. It is also used to solve problems in mathematics and computer science.'

# Test